.language-toggle-group {
    direction: ltr !important;
    background-color: #f2f2f2 !important;
    border-radius: 50px !important;
    padding: 5px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border: 2px solid white !important;
    width: 100px !important; // Adjust to your preferred size
    height: 35px !important;
}

.toggle-button {
    border: none !important;
    height: 28px !important;

    &.Mui-selected {
        background-color: #ECB740 !important; // Orange color for selected language
        color: #fff !important;
        border-radius: 20px !important;
    }

    &:not(.Mui-selected) {
        color: #ECB740 !important;
        border-radius: 20px !important;
        padding: 15px !important;
    }
}