.bill {
    width: 50%;
    padding: 0px 20px;
    height: 90vh;
    color: rgb(46, 45, 46);
    overflow-y: auto !important;

    table {
        tr:hover {
            .action-area {
                background-color: whitesmoke;
            }
        }
    }

    .print-content-date {
        display: none;
        font-size: 8px;

        .title {
            font-size: 12px;
        }

        margin-bottom: 10px;
    }

    .action-area {
        background-color: white;
        padding: 5px;
        border-radius: 10px;
    }

    .action-area-hover {
        background-color: rgb(228, 226, 226) !important;
    }

    .minus-one,
    .remove-item {
        width: 23px;
        height: 23px;
        cursor: pointer;
    }

    .total-price {
        font-weight: 800;
    }

    .print-button,
    .add-to-cash {
        width: 100%;
        border-radius: 10px;
        border: 1px solid grey;
        margin-top: 5px;
        font-size: 15px;
        cursor: pointer;

        &:hover {
            background-color: rgb(226, 226, 226);
        }

        &:active {
            background-color: rgb(211, 209, 209);
        }

        .print-logo {
            width: 80px;
            height: 60px;
        }

    }

    .print-disabled {
        background: transparent;
        cursor: default !important;

        &:hover {
            background: transparent !important;
        }

        &:active {
            background: transparent !important;
        }
    }

    .add-to-cash {
        padding: 10px;
    }

    .total-cash {
        width: 100%;
        padding: 10px;
        font-size: 20px;
        border-radius: 5px;
        margin-top: 5px;
        background-color: rgb(240, 237, 237);
    }

    .clear-confirmation {
        width: 300px;
        height: 200px;
        background-color: rgb(228, 137, 46);
        border-radius: 10px;
        position: absolute;
        bottom: 0px;
        left: 25%;
        color: rgb(77, 75, 75);
        box-shadow: 5px 5px 10px rgb(252, 6, 6);
        font-size: 18px;
        text-align: center;

        button {
            cursor: pointer;
            width: 90px;
            height: 50px;
            border: none;
            border-radius: 5px;
            margin-top: 10px;
            font-weight: 800;
            background-color: rgb(240, 230, 222);


            &:hover {
                background-color: white;
            }
        }
    }
}


@media (max-width : 900px) {
    .bill {
        padding: 0px;
        margin-top: 20px;
        order: 2;
        width: 100%;
        height: 100%;

        .clear-confirmation {
            left: 10%;
        }
    }
}



/* Print bill */
@media print {
    body * {
        visibility: hidden;
    }

    .MuiSnackbar-root{
        display: none !important;
    }

    .MenuList {
        display: none !important;
    }



    .bill,
    .bill * {
        visibility: visible;
    }

    body,
    .bill {
        margin: 0;
        padding: 0;
        height: auto;
        overflow: hidden;
    }

    .bill {
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;

        /* Avoid any automatic page breaks */
        page-break-inside: avoid;
        break-inside: avoid;

        button,
        table .ant-table-cell:last-child,
        .ant-pagination,
        .total-cash {
            display: none;
        }


        .print-content-date {
            display: block;
        }

        .ant-table-thead>tr>th,
        .ant-table-tbody>tr>td,
        .ant-table-thead>tr,
        .ant-table-tbody>tr,
        .total-price-footer {
            padding: 0px 4px; // Minimize padding for compact display
            font-size: 8px; // Adjust font size for readability on receipt
        }
    }
}